@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jr85ht');
  src:  url('../fonts/icomoon.eot?jr85ht#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jr85ht') format('truetype'),
    url('../fonts/icomoon.woff?jr85ht') format('woff'),
    url('../fonts/icomoon.svg?jr85ht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alternate_email:before {
  content: "\e900";
}
.icon-person_outline:before {
  content: "\e901";
}
.icon-lock_outline:before {
  content: "\e902";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
